*::after, ::before{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: rgb(116, 197, 235);
    color:rgb(4, 56, 80) ;
    font-family: sans-serif;

}

.Weather-icon{
    height: 40px;
    width: 40px;
    object-fit: contain;
}



/*Header*/

.header{
    display: flex;
    align-items: center;
}

.header-left{
    width: 50%;
    display: flex;
    align-items: center;
    margin: .51rem;
    padding: .51rem;
    border-right: 2px solid rgb(4, 56, 80) ;
}


.Weather-icon, .large{
    height: 60px;
    width: 60px;
    
}

.header-current-temp{
    font-size: 2rem;
    margin-left: 1rem;
}



.header-right{
    display: grid;
    width: 50%;
    justify-content: space-around;
    gap: 1rem;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    
}

.info-group{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.label{
    text-transform: uppercase;
    font-weight: bold;
    font-size: .75rem;
    white-space: nowrap;
}

.value-sub-info{
    font-weight: lighter;
    font-size: .75rem;
}


/*day-section*/

.day-section{
    display: grid;
    grid-template-columns: repeat(auto-fit, 75px);
    gap: 2rem;
    justify-content: center;
    padding: 1rem;
    margin-top: 4rem;

}

.day-card{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(4, 56, 80);
    border-radius: .5rem;
    align-items: center;
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.day-card-day{
    font-size: .75rem;
    color:rgb(4, 56, 80) ;
    margin-top: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

/*hour-section*/

.hour-section{
    width: 100%;
    text-align: center;
    border-spacing: 0;
    margin-top: 4rem;
}

.hour-row{
    background-color:rgb(115, 201, 241) ;
}


.hour-row:nth-child(2n){
    background-color:rgb(72, 178, 228) ;
}

.hour-row > td{
    padding: 0.25rem, .5rem;
}